@using System.Reactive.Subjects
@using System.Reactive.Linq


<div class="viewer">

    @foreach (var server in Config.Servers)
    {
        <ServerViewer Server="server" />
    }
</div>
@code {
    [CascadingParameter]
    public Config Config { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

}
